<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <title>Message Board</title>
  </head>

  <body>
    <div id="main">
      <%- include('header') %> <% const {msg, getInitials, formatDate} =
      locals;%>
      <div class="details">
        <div class="details__body">
          <div class="profile"><%= getInitials(msg.username) %></div>
          <div class="details__content">
            <div class="details__header">
              <p class="user"><%= msg.username %></p>
              <p class="added subheading"><%= formatDate(msg.added) %></p>
            </div>
          </div>
        </div>
        <div class="details__text">
          <p class="label">Message:</p>
          <%= msg.message %>
        </div>
        <a href="/" class="back-btn link-btn">Back</a>
      </div>
    </div>
  </body>
</html>
